/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: 'Raleway', sans-serif;
    background-image: url("http://images4.alphacoders.com/782/78258.jpg");

}

p.notice {
	color: white;
	font-size: 1.5em;
}

p.alert {
	color: white;

}
.by {
	/* Give it a small font-size */

}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;

}


.clearfix:after{
	clear: both;

}



.main_header:hover {
	background: rgba(255, 255, 255, 0.90);


}
.main_header {

	width: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.70);
	#logo {
		float: left;
	 	a {
	 		text-transform: uppercase;
	 		font-weight: 700;
	 		letter-spacing: -1px;
	 		font-size: 1.4rem;
	 		text-decoration: none;
	 		color: #397CAC;

	 }
	}
	#buttons {

		float: right;
		a {
			margin-left: .4em;
			line-height: 60px;
			background: #397CAC;
			padding: .25em .5em;
			border-radius: 0.3em;
			color: white;
			text-decoration: none;
			font-weight: 100;
		}
		a:hover{
			background-color: #4294CE;
		}			

			


				
	}
	#buttons > a:first-child  {
	    background: #AFADAD;
	    color: black;
	    font-weight: 500;

	}
	#buttons > a:first-child:hover  {
	    background: #d1d1d1;
	}


}

#posts {
	background: rgba(255,255,255,0.91);
	padding: 1.3em 3%;
	border-radius: .4em;
	.post {
		margin: 0.1em 0;
   	 	padding: 0.8em 0;
    	border-bottom: 1px solid #D1D1D1;

		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 400;
				font-size: 1.55rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.8rem;
			color: #828282;
			margin-bottom: 0;			
			.by {
				font-size: .85em;
				font-weight: 100;
			}
		}
		.sidebar{
			font-size: .8em;
			margin-top: -1em;
			font-style: italic;
			}

		
	}
}

.button {
	background: #397CAC;
	color: white;
	border: none;
	padding: .4em .9em;
	border-radius: 0.2em;
	text-decoration: none;	

}
#post_content {
	background: rgba(255, 255, 255, 0.94);
	padding: 0.9em 3%;
	border-radius: .5em;

	.author {
		font-size: .8em;
		border-bottom: 1px dotted #d1d1d1;
		padding-bottom: 1em;
	}

	h1 {

		font-weight: 100;
		font-size: 2.2em;
		color: #397CAC;
		margin-top: 0;
		margin-bottom: 0;
	}
	p {
		color: #828282;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;
	}
	#comments {
		border-top: 3px solid #d1d1d1;
		margin-top: 2em;

		.comment {
			border-bottom: 1px solid #D1D1D1;
			padding-top: .5em;
			padding-bottom: .5em;
			margin-bottom: 1em;

			.content {
				width: 85%;
				float: left;

			}
			.buttons {
				width: 15%;
				float: left;
				font-size: .8em;
				text-align: right;
				a {
					color: #6D6B6B;
					border: 1px solid #D1D1D1;
					padding: .4em .9em;
					border-radius: 0.2em;
					text-decoration: none;
				}
				a:hover {

					background: #E6E6E6;

				
				}

			}
			.comment_content {
				margin: 0;
				padding: 0;
		}
		.comment_author {
			color: #397CAC;
			margin-top: .5rem;
			font-size: 0.6em;
			font-style: italic;
			font-weight: 700;
		}
	}
	input[type="submit"] {
		background: #807E7E;
		border: none;
		color: white;
		font-weight: 500;
		padding: .5em 1em;
		border-radius: .2em;

	}

	textarea {
		width: 100%;
		min-height: 180px;
		border: 1px solid grey;
		border-radius: .2em;
		margin: 1em 0;

	}
}
}
/* these alter devise css */
label.email.optional{
	padding-right: 2.5em
	}


input#user_email {
	width: 30%

}

div.input.password.optional.user_password {
	margin-top: 1em;
    margin-bottom: 1.7em;
    input {
    	width: 30%
    }
	label.password.optional {
	padding-right: .6em
}
}
label.boolean.optional {
	padding-left: .6em;
}

#new_post {
	input.button {
  	 	margin-top: 1em;
    	padding: .3em 1.8em;
    	margin-bottom: 1em;
	}
	a {
		text-decoration: none;
	}
}

#sign_style {
	div.input {
		padding-bottom: 0.5em;
	}
	label.email {
		padding-right: 10em;

	}
	input {
		width: 40%;		
	}
	input#user_password.password.required {
		margin-left: 8.05em;
}
	input#user_password_confirmation.password.required {
		margin-left: 1.95em;
	}
}

/* end devise css */
.edit {
	input {
		width: 30%;

	}

		label.email.required {
			padding-right: 1.9em;

		}
		label.password.optional {
			 padding-right: .3em;
		}

		label.password.required {
			padding-right: 2em;
		}
		span.hint {
			padding-left: 1.2em;
			color: #397CAC;
			font-size: .8em;
		}
		div.input.password.optional.user_password_confirmation {
		    margin-bottom: 1.2em;

		}


		} /*.edit end*/

